<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.retro.logger">

    <application>
        <activity
            android:name=".SPManagerActivity"
            android:exported="false" />
        <activity
            android:name=".CrashDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CrashListActivity"
            android:exported="false" />
        <activity
            android:name=".LogDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".LoggerActivity"
            android:exported="false" />
    </application>

</manifest>